html{
    font-size: 100%;
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
}
.flex{
    display: flex;
    &-fd-cl{
        flex-direction: column;
    }
    &-js-sb{
        justify-content: space-between;
    }
    &-jc-c{
        justify-content: center;
    }
    &-ac-c{
        align-content: center;
    }
}
.block{
    display: block;
}
.c-white{
    color: white !important;
}
.expand{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.clearfix::after, .clearfix::before{
    content: '';
    display: table;
}
.hide-mobile{
    @include breackpoint-down(medium){
        display: none;
    }
}
.hide-desktop{
    @include breackpoint-up(large){
        display: none;
    }
}