.header{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../../images/cb61d529477de50f9e122daf3c7b93e7.jpeg");   

    &-content{
        min-height: 49.5625rem;
        margin: 0 auto;
    }
    &-title{
        color: #fff;
        width: 46.0625rem ;
        min-height: 24.75rem;
        height: auto;
        margin: 12.4375rem auto;
        text-align: center;
        line-height: 1.1;
    }
}
h1.title{
    font-size: $font-big;
    margin: 0 20px;
    @include breackpoint-down(medium){
        font-size: $font-med;
        margin: 0 20px;
    }
    @include breackpoint-down(small){
        font-size: $font-small;
        margin: 0 16px;
    }
}

.h-image{
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
