$yellow: #eedbce;

$font-big : 4.5rem;
$font-med : 3.5rem;
$font-small : 3rem;

//breackpoint
@media(min-width: 64em){

}



//640px, 1024px, 1400px
//$breackpoint-up : ('medium' : '40em', 'large' : '64em', 'xlarge' : '87.5em');

//639px, 1023px, 1399px
//$breackpoint-down : ( 'small' : '39.9375em', 'medium' : '63.9375em', 'large' : '87.4375em');

//540px, 778px , 992px, 1200px
$breackpoint-down : ('small' : '33.75em', 'medium' : '48.625em', 'large' : '62em', 'xlarge' : '75em');
//539px, 777px , 991px, 1199px
$breackpoint-up : ('small' : '33.6875em', 'medium' : '48.5625em', 'large' : '61,9375em', 'xlarge' : '74.9375em');

@mixin breackpoint-up($size) {
    @media (min-width: map-get($breackpoint-up, $size)){
        @content;
    }
}
@mixin breackpoint-down($size) {
    @media (max-width: map-get($breackpoint-down, $size)){
        @content;
    }
}