html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-fd-cl {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-js-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ac-c {
  -ms-flex-line-pack: center;
      align-content: center;
}

.block {
  display: block;
}

.c-white {
  color: white !important;
}

.expand {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.clearfix::after, .clearfix::before {
  content: '';
  display: table;
}

@media (max-width: 48.625em) {
  .hide-mobile {
    display: none;
  }
}

@media (min-width: (61, 9375em)) {
  .hide-desktop {
    display: none;
  }
}

.header {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("../../images/cb61d529477de50f9e122daf3c7b93e7.jpeg");
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../../images/cb61d529477de50f9e122daf3c7b93e7.jpeg");
}

.header-content {
  min-height: 49.5625rem;
  margin: 0 auto;
}

.header-title {
  color: #fff;
  width: 46.0625rem;
  min-height: 24.75rem;
  height: auto;
  margin: 12.4375rem auto;
  text-align: center;
  line-height: 1.1;
}

h1.title {
  font-size: 4.5rem;
  margin: 0 20px;
}

@media (max-width: 48.625em) {
  h1.title {
    font-size: 3.5rem;
    margin: 0 20px;
  }
}

@media (max-width: 33.75em) {
  h1.title {
    font-size: 3rem;
    margin: 0 16px;
  }
}

.h-image {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  vertical-align: middle;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.sec2 {
  background-color: #eedbce;
}

.sec2-u1 {
  margin: 0 auto;
}

@media (min-width: 74.9375em) {
  .sec2-u1 {
    min-height: 20.1875rem;
    width: 71.25rem;
  }
}

@media (max-width: 75em) {
  .sec2-u1 {
    min-height: 20.1875rem;
    width: 71.25rem;
  }
}

@media (min-width: (61, 9375em)) {
  .sec2-u1 {
    min-height: 20.1875rem;
    width: 58.75rem;
  }
}

@media (min-width: 48.5625em) {
  .sec2-u1 {
    min-height: 20.1875rem;
    width: 45rem;
  }
}

@media (min-width: 33.6875em) {
  .sec2-u1 {
    min-height: 91.0625rem;
    width: 33.75rem;
  }
}

@media (max-width: 62em) {
  .sec2-u1 {
    min-height: 20.1875rem;
    width: 58.75rem;
  }
}

@media (max-width: 48.625em) {
  .sec2-u1 {
    min-height: 20.1875rem;
    width: 45rem;
  }
}

@media (max-width: 33.75em) {
  .sec2-u1 {
    min-height: 91.0625rem;
    width: 33.75rem;
  }
}

@media (min-width: 74.9375em) {
  .sec2-u2 {
    margin: -13.6875rem auto 0 0;
  }
}

@media (min-width: (61, 9375em)) {
  .sec2-u2 {
    margin: -13.6875rem auto 0 0;
  }
}

@media (min-width: 48.5625em) {
  .sec2-u2 {
    margin: -13.6875rem auto 0 0;
  }
}

@media (min-width: 33.6875em) {
  .sec2-u2 {
    margin: -17.4375rem auto 0 0;
  }
}

@media (max-width: 75em) {
  .sec2-u2 {
    margin: -13.6875rem auto 0 0;
  }
}

@media (max-width: 62em) {
  .sec2-u2 {
    margin: -13.6875rem auto 0 0;
  }
}

@media (max-width: 48.625em) {
  .sec2-u2 {
    margin: -13.6875rem auto 0 0;
  }
}

@media (max-width: 33.75em) {
  .sec2-u2 {
    margin: -17.4375rem auto 0 0;
  }
}

.lay-ro {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100%;
  min-width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.lay-div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  min-width: 50%;
  max-height: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.lay-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.lay-cell-1 {
  position: relative;
  background-clip: padding-box;
  background-origin: padding-box;
}

.lay-cell-1-transparent {
  background-color: transparent !important;
  opacity: 1;
}

.lay-cell-1-first {
  min-height: 13.625em;
}

.lay-cell-1::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cell-container {
  padding: auto 0;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
}

.cell-title {
  width: auto;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 14px;
}

.cell-title-font {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 1.1;
}

.cell-parag {
  margin-top: 9px;
  margin-left: 14px;
  margin-right: 14px;
}
/*# sourceMappingURL=style.css.map */